<h1>NOTES!zomg</h1>

<% @notes.each do |note| %>
  <div style="margin:1em 0 2em;border-bottom:1px solid rgba(0,0,0,0.4);padding: 1em 0;">
    <div class="description"><%= note.created_at.to_formatted_s(:long) %></div>
    <h4><%= note.notable %></h4>
    
    <div><%= note.body %></div>
    
    <div>—<%= note.user %></div>
  </div>
<% end %>