<h1>Favorites</h1>

<table id="favorites-table">
<thead>
  <th>Thesis</th>
  <th>User</th>
</thead>
<tbody>
<% @favorites.each do |favorite| %>
  <tr>
    <td>
      <%= favorite.favoritable%>
    </td>
    <td>
      <%= favorite.user %>
    </td>
  </tr>
<% end %>
</tbody>
</table>