<h1>Favorites</h1>

<table id="favorites-table">
<thead>
  <th>Thesis</th>
  <th>User</th>
</thead>
<tbody>
<% @favorites.each do |favorite| %>
  <tr>
    <td>
      <% if favorite.favoritable_type == "Thesis" %>
        <%= link_to favorite.favoritable, theses_path(favorite.favoritable)  %>
      <% else %>
        <%= link_to favorite.favoritable, documentation_path(favorite.favoritable)  %>
      <% end %>
    </td>
    <td>
      <%= favorite.user %>
    </td>
  </tr>
<% end %>
</tbody>
</table>