<h1>Orphan Documentations</h1>
<table id="documentations-table">
  <thead>
    <tr>
      <th>Filename</th>
    </tr>
  </thead>
  <tbody>
  <% @documentations.each do |documentation| %>
    <tr>
      <td class="orphaned-documentation">
        <span class="file-name" style="width: 100%;display:inline-block"><%= documentation.media.path.split("/").last %></span>
        <div class="add-thesis-form" id="form-<%= documentation.id %>">
          <%= render 'form', :doc => documentation %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>