<h1>Orphan Documentations</h1>

<table id="documentations-table">
  <thead>
    <tr>
      <th>Filename</th>
    </tr>
  </thead>
  <tbody>
  <% @documentations.each do |documentation| %>
    <tr>
      <td class="orphaned-documentation">
        <%= link_to "#{documentation.thesis}", thesis_path(documentation.thesis) %> <%= documentation.thesis.person.first %> <%=documentation.thesis.person.last%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>