<script type="text/template" id="thesis-table-row">

  <td></td>
  <td></td>
  <td></td>
  <td>{% title %}</td>
  <td>{% year %}</td>
</script>

<script type="text/template" id="theses-template">
  <thead>
    <th>Author</th>
    <th style="max-width:40px;">Fav</th>
    <th style="max-width:40px;">Read</th>
    <th>Title</th>
    <th>Year</th>
    <th>PDF</th>
    <th>Text?</th>
  </thead>
  <tbody>
  </tbody>
</script>