<script>
  $(function(){
    window.theses = new Theses();
    window.thesesTable = new ThesesView({collection: theses});
    $('#content').append(thesesTable.render().el);
    window.theses.reset(<%= @theses %>);
    $('#theses-table').dataTable({
      "bPaginate": false
    });
  });
</script>

<h1>Listing theses</h1>
<%= render 'backbone_template' %>
<p><%= link_to 'New Thesis', new_thesis_path %></p>
