<h1>Listing theses</h1>

<p><%= link_to 'New Thesis', new_thesis_path %></p>

<table id="theses-table">
  <thead>
    <th>Author</th>
    <th><span class='star'>★</span></th>
    <th>Title</th>
    <th>Year</th>
    <th>PDF</th>
    <th>Text?</th>
  </thead>

  <tbody>
    <%= render @theses %>
  </tbody>

</table>
