<h1>Welcome to the ITP Thesis Archive</h1>

<p>The ITP Thesis Archive began during the summer of 2011 as a means of preserving, exploring and sharing the history of student work made at ITP since its founding in 1979. Thanks to the hard work of an entirely student led team, over 1200 papers hidden in closets for years are now digitized. Using thesis projects as source material, the Archive team strives to make a visual, dynamic, and collaborative space for our community to examine how we've made work over the last 30+ years.</p> 

<p><span id="contact-replace"></span></p>
<script>
var m=['itparchive','@','gmail','com']
$('#contact-replace').html('<a href="mail'+'to:'+m[0]+m[1]+m[2]+'.'+m[3]+'">'+m[0]+m[1]+m[2]+'.'+m[3]+'</a>');
</script>
