$line: 24;
$column: 100% / 18;
$font-size: 13;
$em: $font-size * 1.2;
$golden: 1.618;

// COLORS
$font-base: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$green: rgba(38,114,11,1);
$red: rgba(205,49,13,1);
$orange: rgba(205,100,13,1);
$base-color: rgba(248,250,252,1);
$color-2: rgba(198,199,201,1);
$slate: rgba(206,212,229,1);
$dark-gray: rgba(170,180,180,1);
$sky: rgba(173,213,252,1);
$link: rgba(17,114,228,1);

@import "reset";
@import "mixins";
@import "modular-scale";
@import "zindex";
@import "form";

html {
  margin: 0;}

body {
  background-color: $base-color;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;}

a {
  color: rgb(17,114,228);

  &:hover {
    color: rgb(8,52,139);
  }}

h1,h2,h3,h4,h5,h6 {
  @include header-font;}

h1 {
  font-size: #{$font-size*$golden*2}px;
  line-height: 1.8em;
  margin: 0.25em 0 0.75em;}

h2 {
  font-size: 3.526em;
  line-height: 1.7em;
  margin: 0.25em 0 0.75em;}

h3 {
  font-size: 2.618em;
  line-height: 1.6em;
  margin: 0.35em;}

h4 {
  font-size: 2.179em;
  line-height: 1.2em;
  margin: 0.25em 0;}

h5 {
  font-size: 1.618em;
  line-height: 1em;}

h6 {
  font-size: 1.347em;
  line-height: 1em;}

em {
  font-style: italic;}

th {
  font-weight: bold;}

#wrapper {
  margin: 0;
  padding: 0;}

#content {
  padding: 1.5em $column 1em;
  position: relative;
  width: #{$column*16};}

header {
  background-color: $base-color;
  left: 0;
  margin: 0;
  padding: 1em $column;
  position: relative;
  top: 0;
  width: #{$column*16};

  h1 {
    font-size: #{$font-size*$golden}px;}

  #user-nav {
    @extend .float-right;}

  nav {
    ul li{
      display: inline;}}}

#content {
  background-color: $white;
  -webkit-box-shadow: 0 0 8px rgba(51,51,51,0.6);
  -moz-box-shadow: 0 0 8px rgba(51,51,51,0.6);
  box-shadow: 0 0 8px rgba(51,51,51,0.6);
  overflow-y: auto;}

.required {
  color: $red;}

#notice {
  width: 400px;
  margin: 0 auto;
  text-align: center;

  .notice {
    background-color: green;}
  
  .alert {
    background-color: red;}}

@import "favorites";
@import "theses";
@import "home";