$line: 24;
$column: 100% / 18;
$font-size: 13;
$em: $font-size * 1.2;
$golden: 1.618;

/* COLORS */
$green: rgb(38,114,11);
$red: rgb(205,49,13);
$orange: rgb(205,100,13);

@mixin column-padding($side) {
	padding-#{$side}: #{($line/2)/$em}em;
}

@import "reset";
/*@import "ggs";*/

body {
  background-color: rgb(85,98,112);
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.6em;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: rgb(17,114,228);

  &:hover {
    color: rgb(8,52,139);
	}
}


h1 {
	font-size: 4.236em;
	line-height: 1.8em;
	margin: 0.25em 0 0.75em;
}

h2 {
	font-size: 3.526em;
	line-height: 1.7em;
	margin: 0.25em 0 0.75em;
}

h3 {
	font-size: 2.618em;
	line-height: 1.6em;
	margin: 0.35em;
}

h4 {
	font-size: 2.179em;
	line-height: 1.2em;
	margin: 0.25em 0;
}

h5 {
	font-size: 1.618em;
	line-height: 1em;
}

h6 {
	font-size: 1.347em;
	line-height: 1em;
}

em {
	font-style: italic;
}

th {
	font-weight: bold;
}

header,
#content {
	margin: 0 $column;
	padding: 0;
	@include column-padding(right);
	@include column-padding(left);
}

header {
	
	h1 {
		font-size: #{$font-size}px;
	}
	
	nav {
		ul li{
			display: inline;
		}
	}
}

#content {
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 8px rgba(51,51,51,0.6);
}

@import "scaffolds";
@import "theses";