// LAYOUT
//______________________________________________________
.documentations-list,
.notes {
  margin: 0 auto 1em;
  padding: 1em;
  width: 59em;
}

.documentations-list {
  background-color: #efefef;

  li {
    border: 1px solid $slate;
    background-color: $white;
    margin: 0 0 1em;
    overflow-y: auto;
    padding: 0.8em;
    &:hover {
      background-color: $yellow;
    }
  }
}

.text,
.abstract {
  border-top: 1px solid $slate;
  font-size: ms(1, $type-text, $golden);
  line-height: ms(2, $type-text, $golden);
  padding: 1em 2em;
  margin: 0 auto;
  width: 40em;

  @include serif-font;

  p {
    margin: 0 0 1em;
  }
}

// TYPE
//______________________________________________________
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.description {
  color: $dark-gray;
  font-style: italic;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// COLORS
//_______________________________________________________
.positive {
	color: $green;
}

.required,
.negative {
  color: $red;
}

.zebra>*:nth-child(2n) {
  background-color: transparentize($slate,0.8);
}

.yellow {
  color: $yellow;
}

// DISPLAY
//______________________________________________________
.delete-note {
  cursor: pointer;
}

.meta-links {
  // Meta-links live inside of their associated model
  // Only display these links if the mouse is hovering
  // on the model.
  color: $orange;
  visibility: hidden;
  
  &,
  button {
    font-size: 0.9em;
  }

  &.visible {
	  visibility: visible;
  }

  a {
    color: $orange;
  }

  a.delete {
    color: $red;
  }

  button {
    display: inline-block;
    float: right;
  }

  button {
    background: $orange;
    border-color: darken($orange, 10%);
    
    &:hover {
      background: lighten($orange, 10%);
    }
  }

  button.delete {
    background: $red;
    border-color: darken($red, 10%);
  }
}

*:hover>.meta-links {
  visibility: visible;
}


// MODEL SPECIFIC STYLES
// Styles used for specific models, used in one place.
//______________________________________________________

// Favorites
.favorite-star {
  color: $slate;
  padding: 0.25em;
  position: relative;
  text-decoration: none;

  .favorites-list {
    display: none;
  }

  &:hover {
    color: $orange;
  }
}

.has-favorites {
  text-decoration: none;
  color: $orange;
  &:hover {
    background-color: $slate;
    color: $link;

    .favorites-list {
      color: $font-base;
      background-color: $slate;
      display: block;
      padding: 0.25em;
      position: absolute;
      @extend .z2;
    }
  }
}

// Home
.dashboard-widget {
  margin: 1em 0;
  float: left;
  width: 48%;
  padding-right: 1%;
  position: relative;

  &>div{
    padding: 0.25em;
    &:nth-child(even){
      background: transparentize($slate, 0.8);
    }
  }
}

// Reads
.reads-list {
  li {
    display: inline-block;
    margin: 0 1em 0 0;
  }
}

// Post
.post {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin: 1em 0 2em;
  padding: 1em 0;
}


// Tumblr
#tumblr {
  width: 40em;
}