.dashboard-widget {
  margin: 1em 0;
  float: left;
  width: 48%;
  padding-right: 1%;
  position: relative;

  &>div{
    padding: 0.25em;
    &:nth-child(even){
      background: transparentize($slate, 0.8);
    }
  }
}