@mixin column-padding($side) {
  padding-#{$side}: #{($line/2)/$em}em;
}
@mixin header-font {
  font-family: "Quicksand", sans-serif;
}

@mixin main-font {
	font-family: verdana, arial, helvetica, sans-serif;
}

@mixin serif-font {
	font-family: "Georgia", serif;
}

@mixin rounded-corner($radius: 5px) {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* form */
@mixin input-style {
  border: 1px solid rgb(220,220,220);
  padding: 0.5em;
  @include rounded-corner(1px);
  outline-color: rgb(170,170,170);
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.positive {
	color: $green;
}

.negative {
	color: $red;
}