#theses-table,
#documentations-table {
	width: 100%;
	td {
		padding: 0.4em;
	}

	th {
		padding: 0.25em 1em;
		background-position: center right;
		background-repeat: no-repeat;
		border-bottom: 1px solid $slate;
		min-width: 6em;

		&:hover {
			color: $orange;
			cursor: pointer;
		}

		&.sorting_asc {
			background-image: url('/images/sort_asc.png');
		}

		&.sorting_desc {
			background-image: url('/images/sort_desc.png');
		}

		&.sorting {
			background-image: url('/images/sort_both.png');
		}
	}

/*	tr:nth-child(2n+1) */

	tr.odd {
		background-color: #efefef;
	}

	tbody tr:hover {
		background-color: rgba(243,216,40,0.7);
		-webkit-transition: all 0.3s ease-in-out;
	}
}

.dataTables_wrapper {
	position: relative;
}
.dataTables_filter {
/*	float: right;*/
	height: 2em;
	top: -2em;
	right: 0;
	position: absolute;
}

#theses-table .meta-links {
	float: right;
}

/* form */
@mixin input-style {
	border: 1px solid rgb(220,220,220);
	padding: 0.5em;
	@include rounded-corner(1px);
	outline-color: rgb(170,170,170);
}
form {
	overflow: auto;
	width: 100%;

	button {
		background-color: rgb(26,96,178);
		border: 1px solid rgb(26,69,127);
		cursor: pointer;
		@include rounded-corner;
		-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.3);
		-webkit-text-shadow: 0 1px 0 rgb(128,128,128);
		color: rgb(255,255,255);
		font-size: 1.309em;
		padding: 0.25em 0.85em;
		
		&:hover {
			background-color: rgb(20,90,165);
		}
	}

	input {
		@include input-style;

		&[type="text"] {
			min-width: 20em;
		}
	}

	label {
		display: block;
		font-weight: bold;
	}

	section {
		border-bottom: 1px solid black;
		margin: 1em 0;
		position: relative;
		width: 100%;

		h4 {
			margin-top: 0;
			float: left;
			width: #{$column*4};
		}

		fieldset {
			position: relative;
			top: 0;
			margin-left: #{$column*4};
		}
	}

	textarea {
		@include input-style;
		clear: both;
		display: block;
		width: 90%;
	}
}

.add-thesis-form {
	background-color: $base-color;
	border: 1px solid $slate;
	display: none;
	clear: both;
	overflow: auto;
	padding: 1em;
	position: relative;

	fieldset {
		float: left;
		padding-right: 1%;
		width: 49%;
	}
}