#theses-table,
#documentations-table,
#favorites-table {
  width: 100%;
  td {
    padding: 0.4em;
  }

  th {
    padding: 0.25em 1em;
    background-position: center right;
    background-repeat: no-repeat;
    border-bottom: 1px solid $slate;
    min-width: 6em;

    &:hover {
      color: $orange;
      cursor: pointer;
    }

    &.sorting_asc {
      background-image: url('/images/sort_asc.png');
    }

    &.sorting_desc {
      background-image: url('/images/sort_desc.png');
    }

    &.sorting {
      background-image: url('/images/sort_both.png');
    }
  }

/*  tr:nth-child(2n+1) */

  tr.odd {
    background-color: #efefef;
  }

  tbody tr:hover {
    background-color: rgba(243,216,40,0.7);
    -webkit-transition: all 0.3s ease-in-out;
  }
}

.dataTables_wrapper {
  position: relative;
}
.dataTables_filter {
/*  float: right;*/
  height: 2em;
  top: -2em;
  right: 0;
  position: absolute;
}

#theses-table .meta-links {
  float: right;
}

.add-thesis-form {
  background-color: $base-color;
  border: 1px solid $slate;
  display: none;
  clear: both;
  overflow: auto;
  padding: 1em;
  position: relative;

  fieldset {
    float: left;
    padding-right: 1%;
    width: 49%;
  }
}


*:hover>.meta-links {
  visibility: visible;
}

.meta-links {
  color: $orange;
  font-size: 0.9em;
  visibility: hidden;

  a {
    color: $orange;
  }

  a.delete {
    color: $red;
  }
}

#content {
	header {
		background: none;
		margin: 0 0 1em;

		* {
			padding: 0;
			text-align: center;
		}
		h3, h4 {
			@include main-font;
		}
		h2 {
			margin: 0.1em 0 0.1em;
		}
		h3 {
			font-size: 190%;
			line-height: 1.3em;
			margin: 0;
		}
		h4 {
			color: $dark-gray;
			font-size: 125%;
			font-weight: normal;
			margin: 0 0 0.4em;
		}
	}
	
	.text {
		border-top: 1px solid $slate;
		font-size: 150%;
		line-height: 1.8em;
		padding: 1em 2em;
		margin: 0 auto;
		width: 35em;

		* {
			@include serif-font;
		}
		p {
			margin: 0 0 1em;
		}
	}
}