#theses-table,
#documentations-table {
	width: 100%;
	td {
		padding: 0.4em;
	}

	th {
		padding: 0.25em 1em;
		background-position: center right;
		background-repeat: no-repeat;
		border-bottom: 1px solid $slate;
		min-width: 6em;

		&:hover {
			color: $orange;
			cursor: pointer;
		}

		&.sorting_asc {
			background-image: url('/images/sort_asc.png');
		}

		&.sorting_desc {
			background-image: url('/images/sort_desc.png');
		}

		&.sorting {
			background-image: url('/images/sort_both.png');
		}
	}

	tr.odd {
		background-color: #efefef;
	}

	tbody tr:hover {
		background-color: rgba(243,216,40,0.7);
		-webkit-transition: all 0.3s ease-in-out;
	}
}

.dataTables_wrapper {
	position: relative;
}
.dataTables_filter {
/*	float: right;*/
	height: 2em;
	top: -2em;
	right: 0;
	position: absolute;
}

#theses-table .meta-links {
	float: right;
}

/* form */

form {
	width: 100%;

	section {
		border-bottom: 1px solid black;
		margin: 1em 0;
		position: relative;
		width: 100%;

		h4 {
			margin-top: 0;
			float: left;
			width: #{$column*4};
		}

		fieldset {
			position: relative;
			top: 0;
			margin-left: #{$column*4};
		}
	}

	textarea {
		clear: both;
		display: block;
	}

}